* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}

body {
  margin: auto;
  background-color: #ffffff;
}

header {
  display: flex;
  justify-content: center;
  background-color: #242d35;
}

h1 {
  font-weight: lighter;
  font-size: 80px;
  color: #ffffff;
}

.gridcontainer {
  display: grid;
  grid-template-columns: 500px 500px;
  gap: 30px;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 20px;
  margin-bottom: 40px;
  justify-content: center;
}

.textbox,
h2 {
  grid-column: 1;
  font-weight: lighter;
  font-size: 50px;
  color: #000000;
}
.textcolor {
  color: #6a839a;
}

.form {
  grid-column: 2;
}

.namn,
.telefon,
.password,
.email,
.message,
.medlemskap,
.checkboxes {
  margin-top: 10px;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
textarea {
  width: 100%;
  padding: 8px;
  background-color: #f5f5f5;
  box-sizing: border-box;
  border: none;
  border-radius: 6px;
  font-size: 18px;
}

textarea {
  height: 200px;
}

.medlemskap,
.checkboxes {
  display: inline;
  align-items: center;
  justify-content: baseline;
  font-size: 18px;
}

button {
  display: block;
  width: 100%;
  border: none;
  background-color: #242d35;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

button:hover {
  background-color: #ddd;
  color: black;
}
